# JWT
SECRET_KEY= Secret key to encrypt JWT

# CRYPTO KEY
CRYPTO_KEY= Secret key for encrypting data

# POSTGRES DB
POSTGRES_HOST= Host of the postgres database
POSTGRES_PORT= Port of the postgres database
POSTGRES_USER= User of the postgres database
POSTGRES_PASSWORD= Password of the postgres database
POSTGRES_DB= Name of the postgres database