@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollbar {
    @apply overflow-y-scroll scrollbar-thin scrollbar-thumb-gray-500 scrollbar-track-dark-blue hover:scrollbar-thumb-gray-700;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background: #FEFCF4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}